@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

svg {
    display: block;
    width: 100%;
    height: 600px;
    background: white;
    overflow: visible;
  }

  .svg-wrapper {
      width: 50%;
      height: 600px;
  }

  .content {
      width: 100%;
      height: 100%
  }

  .axis-label {
      font-size: 12px;
      font-family: "Source Sans Pro", sans-serif;
  }

  .legend-text {
      font-size: 12px;
      font-family: "Source Sans Pro", sans-serif;
  }

  .data-plot-small {
      width: 20vw;
      height: 15vw;
  }

  .line-plot {
      width: 100%;
  }