@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@500&display=swap");

body {
    margin: 0px;
 }

li, a {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #434343;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 13px 2%;
    background-color: white;
    box-shadow: 0 0px 6px 0px rgba(0,0,0,.4);
}

.title {
    margin-right: auto;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 30px;
    color: #00316F;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px
}

.title, .nav__links li a {
    transition: all .3s ease 0s;
}

.title:hover, .nav__links li a:hover {
    color: #91B0FF;
}