@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

.page-layout {
  font-family: "Source Sans Pro", sans-serif;
  padding: 3px 10%;
  display: flex;
  flex-direction: column;
}

.page-layout__header {
  color: #00316f;
  font-weight: bolder;
  text-align: center;
  font-size: 40px;
}

.page-layout__content {
  text-align: center;
  font-size: 18px;
}

.page-layout__small-header {
    color: #00316f;
  font-weight: bolder;
  text-align: center;
  font-size: 30px;
}

.plot-form-module {
    display: flex;
    justify-content: center;
}

.plot-form-module__forms {
    padding-left: 5%;
    align-self: center;
    width: 30%;
}